<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ site.name }} | {{ page.title }}</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		<link rel="stylesheet" type="text/css" href="/css/syntax-github.css" />
	</head>
	<body>
		<div id="wrapper">
			<header>
				<h1 id="brand">{{ site.name }}</h1>
			</header>

			<div id="container">
				{{ content }}
			</div>
			<footer>
				<p>&copy; {{ site.author }} <a href="http://github.com/{{ site.github_username }}">@github</a></p>
			</footer>
		</div>
	</body>
</html>